name: Publish NPM Package

on:
  push:
    tags:
      - 'api-*.*.*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 25
          registry-url: 'https://registry.npmjs.org'
      - name: PNPM Setup
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: PNPM Install
        run: pnpm install
      - name: PNPM Publish
        run: pnpm publish --publish-branch package --no-git-checks
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
