name: Publish NPM Package

on:
  push:
    tags:
      - 'api-*.*.*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    name: Publish NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: PNPM Setup
        uses: pnpm/action-setup@v4
        with:
          version: 9
      - name: PNPM Install
        run: pnpm install
      - name: NPM Publish
        run: npm publish
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
